body{

    background-color: rgb(206, 229, 252);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

h1{
    font-size: 1.8rem;
   
    font-weight: 600;
    color: #3b4a66;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-container{
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    width: 800px;
    min-height: 400px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    
}



.form-tarea{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.form-tarea input{
    flex: 1;
}

input{
    border: 1px solid #ccc;
    font-size: 1rem;
    /* width: 80%; */
    border-radius: 8px;
    height: 44px;
    padding: 0 14px;
    outline: none;
}


.btn{

    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0 22px;
    font-family: 'sans-serif';
    cursor: pointer;
    font-weight: 600;
}

.btn-success{
    background-color: #ff6b35;
    color: white;
    
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    gap: 12px;
     padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1rem; 
}

li span{
    flex: 1;
}

li button{
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.completada {
    text-decoration: line-through;
    color: #999;
    background-color: #eaeaea;
}

li input[type="checkbox"]{
    width: 18px;
    height: 18px;
    margin-right: 8px;
    cursor: pointer;
    flex-shrink: 0;
}