* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #0f172a; /* azul oscuro */
  color: #e5e7eb;
}

.movieContainer {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

#inputSearch {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto 30px auto;
  padding: 14px 18px;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #1e293b;
  color: white;
}

#inputSearch::placeholder {
  color: #94a3b8;
}

#listaMovies {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.movie {
  background-color: #020617;
  border-radius: 14px;
  overflow: hidden;
  /* cursor: pointer; */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.movie:hover {
  transform: translateY(-6px);
}

.movie img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  display: block;
}

.movie h3 {
  font-size: 0.95rem;
  margin: 10px;
}

.movie p {
  font-size: 0.8rem;
  margin: 0 10px 10px;

  color: #9ca3af;
}
